@{
    ViewBag.Title = "Avaleht";
}

<main class="container mt-4">

    <h1>Tere tulemast meie keelekooli!</h1>

    <p>
        Meie keelekool pakub kvaliteetseid ja kaasaegseid keelekursusi nii algajatele kui ka edasijõudnutele.
        Meie eesmärk on aidata õpilastel õppida uusi keeli mugavalt ja tõhusalt.
    </p>

    <p>
        Pakume kursusi erinevates keeltes ja erinevatel tasemetel. Meie kogenud õpetajad aitavad sul saavutada
        oma eesmärgid – olgu selleks töö, õpingud või reisimine
    </p>


